@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

:root {
  --font-family: 'Poppins', sans-serif;
  --second-family: 'Russo One', sans-serif;
  --main-opacity: 0.7;
  --main-transition: 0.3s;
  --scale-base: 1.1;
  --scale-mini: 1.05;
  --color-white: #fff;
  --color-dark: #07060b;
  --color-grey-light: #ededf2;
  --color-grey-middle: #95959d;
  --colo-grey-dark: #717178;
  --color-grey-deep: #37373e;
  --color-blue-main: #46f4db;
  --color-red: #d13130;
  --main-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

body {
  color: aqua;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'Russso One';
  color: #fff;

  max-width: 100%;
  overflow-x: hidden;
}

.container {
  width: 1280px;
  height: 565px;
  background-color: rgb(50, 172, 111);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-logo {
  cursor: pointer;
}

.nav-container {
  width: 1280px;
  height: 80px;
  background-color: rgb(255, 255, 255);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin: auto 0;
}

.nav-link {
  text-decoration: none;

  font-family: var(--font-family);
  font-weight: 750;
  font-size: 20px;
  color: black;

  transition: var(--main-transition);
}

.nav-link:hover {
  transition: var(--main-transition);
  scale: var(--scale-mini);
}

.nav-link-img {
  display: none;
}

.button-wallet {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 16px;
  text-align: center;
  background-color: black;
  border: none;
  color: #fff;

  cursor: pointer;
  transition: 0.3s;

  border-radius: 77px;
  width: 132px;
  height: 53px;
}

.button-wallet:hover {
  transition: var(--main-transition);
  scale: var(--scale-base);

  box-shadow: var(--main-box-shadow);
}


.main-button {
  color: var(--color-dark);
  background: #46f4db;
  border: none;

  border-radius: 40px;
  width: 261px;
  height: 74px;
  transition: 0.3s;
  cursor: pointer;

  background-color: black;

  font-family: var(--font-family);
  font-weight: 800;
  font-size: 20px;
  text-align: center;
  color: #fff;
}

.main-button:hover {
  scale: var(--scale-base);
  box-shadow: var(--main-box-shadow);
}

/* Main */

.main {
  background: url(/images/main-bg.png) no-repeat center center;
  background-color: rgb(0, 0, 0);
  width: 1920px;
  height: 680px;

  display: flex;
}

.main-body {
  display: flex;
  align-items: start;
  justify-content: center;
  background-color: rgb(0, 0, 0);

  flex-direction: column;

  width: 620px;
  height: 360px;
  margin-left: 320px;
  margin-top: 160px;
  margin-bottom: 160px;
}

.main-text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 70px;
  color: var(--white);

  margin: 0;
  margin-bottom: 36px;
}

.button-container {
  display: flex;

  gap: 10px;
  margin-bottom: 10px;
}

.button {
  border-radius: 40px;
  width: 184px;
  height: 74px;
  border: none;

  font-family: var(--font-family);
  font-weight: 800;
  font-size: 18px;
  text-align: center;
  color: black;
  cursor: pointer;
  transition: 0.3s;

  background: linear-gradient(180deg, #46f4db 27.08%, #57d272 100%);
}

.button:hover {
  opacity: var(--main-opacity);
  transition: var(--main-transition);
  scale: var(--scale-base);
}

.button-classic {
  border-radius: 40px;
  width: 261px;
  height: 74px;
  border: 5px solid #57d272;
  transition: 0.3s;
  cursor: pointer;

  background-color: black;

  font-family: var(--font-family);
  font-weight: 800;
  font-size: 20px;
  text-align: center;
  color: #fff;
}

.button-classic:hover {
  opacity: var(--main-opacity);
  transition: var(--main-transition);
  scale: var(--scale-base);
}

/* Auction */

.auction {
  width: 1920px;
  height: 565px;
  overflow: hidden;
  background-color: #ffffff;
  padding-bottom: 90px;

  display: flex;
  justify-content: center;
}

.auction-main {
  display: flex;
}

.head-auction {
  background-color: rgb(255, 255, 255);
  width: 1280px;
  height: 565px;
  margin-top: 90px;
  margin-bottom: 90px;
  margin-right: 320px;
  margin-left: 320px;

  display: flex;
  flex-direction: column;
}

.auction-title {
  margin: 0;

  font-family: var(--second-family);
  font-weight: 400;
  font-size: 60px;
  color: black;
}
.live-img {
  margin-top: 5px;
  width: 135px;
  height: 36px;
}

.auction-main {
  background-color: rgb(255, 255, 255);
}

.auction-main-wrapped {
  background-color: rgb(255, 255, 255);
  width: 460px;
  height: 565px;
}
.auction-title-wrapper {
  display: flex;
  gap: 16px;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.auction-image-wrapper {
  display: flex;
  align-items: end;
}
.auction-img {
  width: 460px;
  height: 460px;
}

.auction-second-part {
  margin-left: 32px;
  margin-top: 49px;
  display: flex;
  flex-direction: column;
}

.profile-icon {
  border-radius: 23px;
  width: 210px;
  height: 80px;

  background-color: var(--color-grey-light);

  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-name {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  color: black;
  margin: 0;
  margin-left: 10px;
}

.nft-name {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 48px;
  color: black;
  margin: 0;
  margin-top: 32px;
  margin-bottom: 32px;
}

.auction-info {
  display: flex;
  gap: 32px;
}

.auction-bid {
  border-radius: 40px;
  width: 296px;
  height: 174px;
  background-color: var(--color-grey-light);
}

.auction-timer {
  border-radius: 40px;
  width: 460px;
  height: 174px;
  background-color: var(--color-dark);

  display: flex;
  gap: 44px;
}

.auction-bid {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
}
.bid-text {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 20px;
  color: var(--color-dark);
  margin: 0;
  margin-left: 32px;
}

.bid-price {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 48px;
  color: var(--color-dark);
  margin: 0;
  margin-left: 32px;
}

.bid-second-price {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 20px;
  color: var(--colo-grey-dark);
  margin: 0;
  margin-left: 32px;
  opacity: 0.5;
}

.timer {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 35px;
  color: var(--white);
  margin: 0;
  text-align: center;

  display: inline-flex;
  flex-direction: column;
}

.timer-text {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 20px;
  color: var(--white);
  margin: 0;
  margin-bottom: 10px;
}

.clock-img {
  width: 121px;
  aspect-ratio: 1;
  margin-right: 25px;
  margin-left: 20px;
}

.timer-block-text {
  margin-bottom: 19px;
  margin-left: 32px;
  margin-top: 30px;
  margin-right: 10px;
}

.timer-hours,
.timer-minutes {
  margin-right: 25px;
}

.span-text {
  font-size: 20px;
}

.bid-button {
  color: var(--color-dark);
  background: #46f4db;
  border: none;
  margin-top: 32px;
}

.bid-button:hover {
  box-shadow: var(--main-box-shadow);

  transition: var(--main-transition);
}

/* Auction Products */

.auction-products {
  width: 1920px;
  height: 875px;
  background-color: rgb(255, 255, 255);

  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 90px;
  padding-bottom: 90px;
}

.products {
  width: 1280px;
  height: 895px;
  background-color: rgb(255, 255, 255);

  display: flex;
}

.product-list {
  width: 1312px;
  height: 716px;
  background-color: #ffffff;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 32px;
}

.product-card {
  border-radius: 40px;
  width: 296px;
  height: 342px;
  background: linear-gradient(
    to bottom,
    var(--color-grey-light) 50%,
    black 50%
  );

  transition: var(--main-transition);
}

.product-card:hover {
  scale: var(--scale-base);
  transition: var(--main-transition);
  filter: brightness(0.9);
  box-shadow: var(--main-box-shadow);
}

.img-wrapped {
  display: flex;
  align-items: start;
  justify-content: center;
}

.card-nickname {
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.nickname {
  margin-left: 5px;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 13px;
  color: var(--color-white);
}

.card-info {
  display: flex;
  flex-direction: column;
}

.card-info p {
  margin: 0;
  margin-bottom: 8px;
  margin-left: 16px;
}

.card-title {
}

a,
p {
  color: inherit;
  text-decoration: none;
  outline: none;
}

.products {
  display: flex;
  flex-direction: column;
}

.product {
  width: 296px;
  height: 342px;
}

.product-link {
  text-decoration: none;
  outline: none;
}

.product-img {
  margin-top: 7px;
  margin-bottom: 7px;
}

.product-name {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  color: var(--white);
  outline: none;
}

.product-price {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 20px;
  color: var(--color-blue-main);
}

.product-timer {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  color: var(--colo-grey-dark);
}

.product-button {
  background-color: transparent;
  border: 5px solid #57d272;

  color: var(--color-dark);
}

.products-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  color: var(--color-dark);

  margin-bottom: 32px;
}

.products-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 32px;
}

/* New Stickers */
.new-stickers {
  width: 1920px;
  height: 1075px;
  background-color: var(--color-red);
}

.new-stickers-head-wrapper {
  width: 1920px;
  height: 685px;
  background-color: var(--color-dark);
  display: flex;
  align-items: center;
  justify-content: center;
}

.stickers-title {
  display: flex;
  align-items: center;
  margin-left: 0px;
  margin-top: 90px;
}

.stickers-title-text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 60px;
  color: var(--color-white);
  margin: 0;
}

.stickers {
  display: flex;
  gap: 30px;
  margin-top: 32px;
}

.stickers-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  gap: 26px;
}

.stickers-button.active {
  background-color: red;
  color: white;
}

.stickers-button {
  border: 2px solid red;
  border-radius: 40px;
  background-color: transparent;
  width: 56px;
  height: 36px;
  cursor: pointer;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: var(--color-white);
  
}

#slide4 {
  gap: 20px;
  
}

/* Swiper styles */
.new-stickers {
  width: 1920px;
  height: 1075px;
  background-color: var(--color-red);
}

.new-stickers-head-wrapper {
  width: 1920px;
  height: 685px;
  background-color: var(--color-dark);
  display: flex;
  align-items: center;
  justify-content: center;
}

.stickers-title {
  display: flex;
  align-items: center;
  margin-left: 0px;
  margin-top: 90px;
}

.stickers-title-text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 60px;
  color: var(--color-white);
  margin: 0;
}

.stickers {
  display: flex;
  gap: 30px;
  margin-top: 32px;
}

.stickers-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  gap: 26px;
}

.stickers-button.active {
  background-color: red;
  color: white;
}

.stickers-button {
  border: 2px solid red;
  border-radius: 40px;
  background-color: transparent;
  width: 56px;
  height: 36px;
  cursor: pointer;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: var(--color-white);
}

/* Stickers*/
 

  .new-stickers {
    width: 1920px;
    height: 1075px;
    background-color: var(--color-red);
  }

  .new-stickers-head-wrapper {
    width: 1920px;
    height: 685px;
    background-color: var(--color-dark);

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .stickers-title {
    display: flex;
    align-items: center;
    margin-left: 0px;
    margin-top: 90px;
  }
  .stickers-title-text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 60px;
    color: var(--color-white);

    margin: 0;
  }

  .stickers {
    display: flex;
    gap: 30px;
    margin-top: 32px;
  }

  .stickers-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    gap: 26px;
  }

  .stickers-button.active {
    background-color: red;
    color: white;
  }

  .stickers-button {
    border: 2px solid red;
    border-radius: 40px;
    background-color: transparent;
    width: 56px;
    height: 36px;

    cursor: pointer;

    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: var(--color-white);
  }



.stickers-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stickers-body-wrapper {
  display: flex;
}

.distribution-block {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-right: 32px;
}

.distribution-text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  color: var(--white);
}

.distribution-input {
  border-radius: 40px;
  padding: 10px 10px 10px 32px;
  width: 460px;
  height: 50px;
  background-color: var(--color-dark);

  font-family: var(--font-family);
  font-weight: 800;
  font-size: 20px;
  color: var(--color-dark);

  border: none;
  outline: none;
}

.distribution-input::placeholder {
  color: rgb(255, 255, 255);
}

.distribution-input:focus::placeholder {
  color: var(--color-dark);
}

.distribution-input:focus {
  border-color: var(--color-white);
  background-color: var(--color-white);
}

.distribution-button {
  background-color: var(--color-blue-main);
  border: none;

  font-family: var(--font-family);
  font-weight: 800;
  font-size: 20px;
  text-align: center;
  color: var(--color-dark);
}

.checkbox {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 12px;
  color: var(--white);
}

.author {
  width: 1920px;
  height: 735px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.author-block {
  background-color: #ffffff;
  display: flex;
}

.author-text,
.author-subtitle,
.author-subtext {
  margin: 0;
}

.author-text {
  width: 625px;
  height: 556px;
  background-color: #ffffff;
  margin-right: 32px;
}

.author-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 60px;
  color: var(--color-dark);
  margin: 0;
}

.author-subtitle {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  color: var(--color-dark);
  margin-bottom: 16px;
}

.author-subtext {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: var(--color-dark);
  margin-bottom: 32px;
}

.author-form {
  background-color: #ffffff;

  width: 656px;
  height: 556px;

  display: flex;
  flex-direction: column;
  gap: 32px;
}

.images-form {
  border-radius: 40px;
  width: 624px;
  height: 342px;
  background-color: var(--color-grey-light);

  display: flex;
  align-items: center;
  justify-content: center;
}

.input-author-form {
  border-radius: 40px;
  padding: 10px 10px 10px 32px;
  width: 590px;
  height: 50px;
  background-color: var(--color-grey-light);

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  color: var(--grey-dark);

  border: none;
  outline: none;
}

.input-author-form:focus {
  border-color: var(--color-white);
  background-color: var(--color-dark);
}

.form-button {
  background-color: var(--color-blue-main);
  border: none;

  font-family: var(--font-family);
  font-weight: 800;
  font-size: 20px;
  text-align: center;
  color: var(--color-dark);
}

.images-form {
  display: flex;
  flex-direction: column;
}

.add-text {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: var(--color-grey-middle);
}
.add-button {
  border: none;
  cursor: pointer;

  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid var(--color-blue-main);

  transition: var(--main-transition);
}

.add-svg {
  color: #07060b;
}

.add-button:hover {
  scale: var(--scale-base);
  transition: var(--main-transition);
  box-shadow: var(--main-box-shadow);
}

/* Top Salers */

.sales-container {
  width: 1280px;
  height: 618px;
}

.sales p {
  margin: 0;
}

.sales {
  width: 1920px;
  height: 920px;

  display: flex;

  flex-direction: column;

  background-color: var(--color-dark);
}

.top-salers-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;

  flex-wrap: wrap;
}
.sales-block-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sales-block {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  /* border: #46f4db 5px solid; */
  margin-top: 90px;
  margin-bottom: 90px;
}

.sales-text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 60px;
  color: var(--color-white);

  margin-top: 0px;
  margin-bottom: 32px;
}

.saler-card-wrapper {
  display: flex;
  margin-left: 16px;
  padding-top: 16px;
}

.saler-card {
  border-radius: 40px;
  width: 624px;
  height: 174px;
  background: var(--color-white);
  transition: var(--main-transition);

  background: linear-gradient(
    to right,
    var(--color-grey-light) 23%,
    var(--color-white) 23%
  );
}

.saler-card:hover {
  scale: var(--scale-mini);
  transition: var(--main-transition);
  filter: brightness(0.9);
  box-shadow: var(--main-box-shadow);
}

.saler-card-profile-block {
  display: flex;
  gap: 8px;
}

.saler-card-info {
  margin-left: 32px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.saler-nickname {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  color: var(--color-dark);
}

.sale-nft-name {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 48px;
  color: var(--color-dark);

  margin: 0;
}

.nft-info-price {
  display: flex;
}

.sale-nft-price,
.sale-nft-second-price {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  color: var(--color-dark);
}

.sale-nft-second-price {
  color: var(--color-grey-middle);
}

/* Footer */

.footer-container {
  width: 1280px;
  height: 232px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-body-container {
  width: 1280px;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer {
  width: 1920px;
  height: 340px;
}

.head-footer {
  width: 1920px;
  height: 232px;
  background-color: var(--color-grey-deep);

  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-title {
  margin-bottom: 12px;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 22px;
  color: var(--white);

  margin: 0;
}

.footer-subtitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  color: var(--white);

  margin: 0;
}

.footer-criterion {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer-body {
  width: 1920px;
  height: 80px;
  background-color: var(--color-blue-main);

  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-links {
  display: flex;
  gap: 21px;
}

.footer-link {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  color: var(--color-dark);

  transition: var(--main-transition);
}

.footer-link:hover {
  transition: var(--main-transition);
  scale: var(--scale-mini);
}

.footer-bottom {
  width: 1920px;
  height: 28px;

  background-color: var(--color-dark);

  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-bottom-text {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 12px;
  color: var(--color-grey-light);
}

/* Adaptive */

@media (max-width: 1024px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 1024px;
    height: 80px;
  }
  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 80px;
    margin-left: 50px;
    gap: 20px;
  }

  .nav-links {
    gap: 15px;
    margin-left: 70px;
  }

  .main {
    width: 185vw;
    background-size: cover;
    background-position: center;
}

  .bid-button {
    margin-top: 20px;
  }

  .main-body {
    margin-left: 36px;
    background-color: transparent;
  }

  .auction {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 952px;
    height: 770px;
  }

  .auction-main {
    width: 952px;
    height: 970px;
    margin-left: 36px;
    margin-right: 36%;

    display: flex;
    align-items: center;
  }

  .auction-info {
    display: flex;
    flex-direction: column;
  }

  .auction-main-wrapped {
    margin-bottom: 250px;
  }

  .auction-second-part {
    margin-left: 12px;
  }

  .nft-name {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 800;
  }

  .auction-products {
    width: 952px;
    height: 1005px;
    margin-left: 36px;
    margin-right: 36px;
    padding: 0px;

    display: flex;
    align-items: start;
  }

  .products {
    width: 952px;
    height: 874px;
  }
  .product-list {
    width: 952px;
  }

  .product:nth-last-child(-n + 2) {
    display: none;
  }

  /* New stickers */


 .new-stickers {
  width: 1024px;
  height: 1000px;
  }

  .new-stickers-head-wrapper {
    width: 1024px;
    height: 607px;

  }

  .slide {
    width: 100%;
    display: flex;
    justify-content: center;
}

  
  .stickers {
    width: 952px;
    height: 223px;
  }



  .new-stickers-body {
    width: 1024px;
    height: 391px;

    display: flex;
    align-items: center;
  }

  .stickers-body img{
    width: 790px;

    height: auto;
  }
  
  .distribution-block {
    margin-left: 36px;
  }

  #slide4 {
    

    gap: 20px ;
  }


/* Author */

.author {
  width: 1024px;
  height: 850px;
}


.author-block {
  width: 952px;
  height: 700px;
  
  margin-left: 36px;
  margin-right: 36px;

  display: flex;
  align-items: center;
  justify-content: center;

  
}

.author-form {
  width: 624px;
  
}


.author-text {
  margin-right: 10px;
}
.images-form {
  width: 330px;
  height: 250px;
}


.input-author-form {
  width: 290px;
  height: 50px;
}


/* Sales */

.sales {
  width: 1024px;
  height: 870px;
}

.sales-block {
  margin-right: 36px;
  margin-left: 36px;
}


.sales-container {
  width: 952px;
}

.saler-card {
  width: 460px;
  height: 174px;
}

.sales-text-wrapper {
  margin-bottom: 32px;
}


/* Footer */

.footer {
  width: 1024px;
  height: 340px;
}

.head-footer {
  width: 1024px;
  height: 232px;
  
}

.footer-container {
  margin-right: 36px;
  margin-left: 36px;
}


.footer-body {
  width: 1024px;
}

.footer-body-container {
  margin-right: 36px;
  margin-left: 36px;
}

.footer-bottom {
  width: 1024px;
}
}

@media (max-width: 320px) {

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 100%;

  }

  .nav-container {
    width: 295px;
    height: 120px;
    margin-top: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    
    
    gap: 5px;
  }

.nav-logo {
  display: flex;
  align-items: center;
  gap: 160px;
  margin-left: 150px;
}

.nav-links {
  margin-left: 25px;
}

  .nav-link-img {
    display: block;
  }

  .button-wallet {
    display: none;
  }
  

  .nav-logo {
    margin-right: 120px;
  }


  .main {
    background-image: url('/images/media\ 320px.png'); 
    
  }

  .main-text {
    width: 320px;

    font-size: 35px;
  }
  }

